<table class="table table-bordered table-stripped">
  <thead>
    <td>Address</td>
    <td>Rank</td>
    <td>Actions</td>
  </thead>
  <tbody>
    <% @websites.each do |web| %>
      <tr>
        <td><%= web.address %></td>
        <td><%= web.rank %></td>
        <td><%= link_to 'View Graph', website_path(web)%> | <%= link_to 'Delete', website_path(web), method: :delete %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= form_tag '/websites', method: :post, id: 'form_url' do %>
  <div class="form-group has-feedback has-success">
    <label class="control-label" for="url_field">URL of the website</label>
    <%= text_field_tag :address, nil, {placeholder: 'Enter link of website', id: 'url_field', class: 'form-control', 'aria-describedby'=>'inputSuccess2Status'} %>
  </div>
  <%= submit_tag 'Add website' %>
<% end %>

